{% form 'cart', cart %}
  <h1>Cart</h1>
  <table>

    {% for item in cart.items %}
      <tr>
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.final_price | money }}</td>
        <td><input name="updates[]" value="{{item.quantity}}"></td>
        <td>{{ "Remove" | link_to: item.url_to_remove }}</td>
      </tr>
    {% endfor %}

  </table>
  <h3>Total: {{ cart.total_price | money }}</h3>
  <button type="submit" name="update">Update</button>
  <button type="submit" name="checkout">Checkout</button>
{% endform %}