{{ 'product.css' | asset_url | stylesheet_tag }}

<section class="product_page">
  <div class="wrapper product_page__inner">
    <div class="product_page__gallery">
      {% for image in product.images %}
        <img
          class="gallery__img"
          src="{{image | img_url: 'original'}}"
          alt="{{image.alt or product.title}}" />
      {% endfor %}
    </div>
    <div class="product_page__content">
      <h1>{{ product.title }}</h1>
      <div>{{ product.price | money }}</div>
      <div>{{ product.description }}</div>

      {% form 'product', product %}
        <label class="product_form__label {% if product.has_only_default_variant %}hidden{% endif %}">
          Variant
          <select name="id" hidden="{{product.has_only_default_variant}}">
            {% for variant in product.variants %}
              <option value="{{variant.id}}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="product_form__label">
          Quantity
          <input
            type="number"
            name="quantity"
            min="1"
            value="1">
        </label>
        <button type="submit">Add to Cart</button>
      {% endform %}
    </div>
  </div>
</section>